html
    head
        title
    body
        p Submit a file to view its filesize.
        form(method="post",enctype="multipart/form-data",action="/")
            input(type="file",name="upl")
            input(type="submit")